<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center"> About Us </h1>
        
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim, rem voluptates inventore quas dolore possimus magnam ut provident aspernatur similique laboriosam repellendus repudiandae exercitationem corporis odio excepturi officia quibusdam.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home </button>
            </div>
        </div>
    </div>
</section>